<div class="main-wrapper">
    <section class="section-header">
        <div class="back-to-home">
            <a data-w-id="5b783080-8702-f829-5956-04afd309e642" href="https://robo.trico.rafifsadid.my.id" class="link-on-light w-inline-block">
                <div class="text-size-caps-tiny">Back to Home</div>
                <div class="underline-link dark-line-transparent">
                    <div class="underline-on-hover dark-line"></div>
                </div>
            </a>
        </div>
        <div class="wrap-logo-light">
            <div class="logo-on-white">Robo.Trico</div>
        </div>
    </section>
    <section class="style-guide">
        <div class="w-layout-blockcontainer container w-container">
            <div class="margin-vertical-50px">
                <div class="line-horizontal-dark"></div>
            </div>