<!DOCTYPE html>
<html lang="id" data-wf-page="670e5c9e6a344a48d4f1235b" data-wf-site="670e5c9e6a344a48d4f1235e">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }} - {{ site.title }}</title>
    
    <!-- Dynamic Meta Tags -->
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html }}">
    <meta property="og:image" content="{{ site.url }}/assets/{{ page.image }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="robo.trico.rafifsadid.my.id">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/{{ page.image }}">
    
    <!-- Sisanya sama seperti template Anda -->
    ...
</head>
<body>
    <div class="main-wrapper">
        ... [Header sama seperti template] ...

        <section class="style-guide">
            <div class="w-layout-blockcontainer container w-container">
                <div class="margin-vertical-50px">
                    <div class="line-horizontal-dark"></div>
                </div>

                <!-- DYNAMIC CONTENT -->
                <div class="article-content">
                    {{ content }}
                </div>

                <div class="margin-vertical-50px">
                    <div class="line-horizontal-dark"></div>
                </div>
            </div>
        </section>
        
        ... [Footer sama seperti template] ...
    </div>
</body>
</html>
